extends layout

block content
  h1 Genre: !{title}

  if error
    p Error getting dynamic content.
  else
    p #[em #[strong !{title}]] has the following books:

    ul
      - 
        books.sort(
          function(a, b){
            let textA = a.title.toUpperCase(); 
            let textB = b.title.toUpperCase(); 
            return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
          }
        );
      each book in books 
        li 
          a(href=book.url) #[strong !{book.title} - ]
          a(href=book.author.url) #[em !{book.author.name}]